<header>
    <nav id="nav">
        <ul id="header-list">
            <li class="hl__item gohan">
                <img src="https://github.com/RaiSMel/dragonBall/blob/main/src/assets/imgs/gohan-logo.png?raw=true" alt="Gohan" height="200px">
                <span class="hl__item-power"></span>
            </li>
            <li class="hl__item appearing-animation"><span class="h1__item-explosion"></span></li>
            <li class="hl__item logo appearing-animation">
                <img src="https://raw.githubusercontent.com/RaiSMel/dragonBall/main/src/assets/imgs/logo.png" alt="logo Dragon Ball" height="200px">
            </li>
            <li class="hl__item veggeta">
                <img src="https://raw.githubusercontent.com/RaiSMel/dragonBall/main/src/assets/imgs/veggeta-logo.png" alt="Veggeta" height="200px">
                <span class="hl__item-power"></span>
            </li>
        </ul>
    </nav>
</header>